<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/nav.css">
    <script src="https://kit.fontawesome.com/75ebab5318.js" crossorigin="anonymous"></script>
    <script src="/js/nav.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="navbar_logo">
        <i class="fa-brands fa-accusoft"></i>
        <a href="">dreamcoding</a>
    </div>

    <ul class="navbar_menu">
        <li><a href="">Home</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="">Wedding</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Booking</a></li>
    </ul>

    <ul class="navbar_icons">
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-facebook"></i></li>
    </ul>

    <a href="#" class="navbar_toggleBtn">
        <i class="fa-solid fa-bars"></i>
    </a>
</nav>


</body>
</html>